@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Work+Sans:wght@200;300;400;600;700;800;900&display=swap");

body {
  padding: 0s;
  margin: 0;
  font-family: Barlow, sans-serif;
}
